
$main-bg:#3A53BA;
$body-text-color:#fff;
$main-heading:#01f2f2;
$gold-heading:#f2df79;
$orange:#F37406;
$breakpoint-mobile: 575px;
$breakpoint-small-tablet: 767px;
$breakpoint-tablet: 992px;
$container-max-width: 1520px;

$font-size-min: 15; 
$font-size-max: 20;

$font-view-min: 375;
$font-view-max: 1520;

$h1-size-min: 50; 
$h1-size-max: 85;
$h2-size-min: 32; 
$h2-size-max: 60;

$slide-spacing: 20px;

body {
    background-color:$main-bg;
    color:$body-text-color;
    font-size: clamp(calc(($font-size-min) * 1px),calc(($font-size-min) * 1px) + ($font-size-max - $font-size-min) * ((100vw - $font-view-min * 1px) / $font-view-max),calc(($font-size-max) * 1px)); 
    line-height: 1.6em;
}
.main-btn {
    transition: all ease 300ms;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 800;
}
.main-heading {
    font-size: clamp(calc(($h1-size-min) * 1px),calc(($h1-size-min) * 1px) + ($h1-size-max - $h1-size-min) * ((100vw - $font-view-min * 1px) / $font-view-max),calc(($h1-size-max) * 1px)); 
    line-height: 1.3em;
}
.sub-heading {
    font-size: clamp(calc(($h2-size-min) * 1px),calc(($h2-size-min) * 1px) + ($h2-size-max - $h2-size-min) * ((100vw - $font-view-min * 1px) / $font-view-max),calc(($h2-size-max) * 1px)); 
        line-height: 1.3em;
}
.main-container {
    max-width: $container-max-width;
    width: 80%;
    margin: 0 auto;
    @media (max-width: $breakpoint-tablet ) {
        width: 90%;
    }
}
.heading {
    color:$main-heading;
    font-weight: 800;
    
    &.gold{
        color:$gold-heading;
    }
}
.banner-hand-img {
    transition: all ease 300ms;
    left: -25%;
    top: 0;
    @media (max-width: $breakpoint-tablet ) {
        left: -30%;
    }
    @media (max-width: $breakpoint-small-tablet ) {
        left: -55%;
        margin-bottom: -40%;
    }
    img {
        opacity:  0;
    }
}
.strats {
  & > * {
    border:1px solid #fff;

    &:nth-child(1) {
        border-color: #f2df79;
    };
    &:nth-child(2) {
        border-color: #F37406;
    };
    &:nth-child(3) {
        border-color: #F74246
    };
    &:nth-child(4) {
        border-color: #01f2f2;
    };

    border-radius: .5rem;
    padding:2px 10px
  }  

}

.phone-video {
    // height: 50vh;
    max-width: 300px;
    @media (max-width: $breakpoint-mobile ) {
     max-width: 220px;;
    }
}
.ullist {
  li {
    margin-bottom: 20px;
  }  
}

.li-custom-shape {
 
    position: relative;
    width: 70px;
    flex:0 0 70px;


    > div {
        height: 2px;
        background-color: #0ff;
        width: 100%;
        transition:  all ease .3s;
        ---diagonallinewidth: 0px;
        &::before {
            transition: all ease .3s;
            content: "";
            position: absolute;
            left: -45%;
            top: 20px;
            width: 15px;
            height: 15px;
            background-color: #0ff;
            border-radius: 50%;
        }
    
        &::after {
            transition: all ease .3s;
            content: "";
            position: absolute;
            left: -50%;
            top: 0;
            width: var(--diagonallinewidth);
            height: 2px;
            transform: rotate(-45deg)translate(-4px, 25px);
            transform-origin: bottom left;
            background-color: #0ff;
        }
    }
}

.easyanalysis-section {
    .function-imgs {
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
    }
    
    .function-img {
        position: absolute;
        width: 80%;
        z-index: 1;
        transform: scale(0);
        will-change: transform, opacity;
        
        &:nth-child(1) {
            top: -5%;
         }    
         &:nth-child(2) {
            top: 20%;
         }    
         &:nth-child(3) {
            top: 45%;
         }    
         &:nth-child(4) {
            top: 60%;
         }    
         &:nth-child(5) {
            top: 80%;
         }    
        &:nth-child(odd) {
          left:-30%
        }
        &:nth-child(even) {
          right:-30%
        }
    }
}

.tradelikepro-section {
    padding-top: 20%;;
    background-image: url('/bg-1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}
.vertical-tabs {
    position: relative;
    .tabs-navigation {

        &>* {
            background-color: #3A53BA;
            border-radius:30px;
            border:2px solid;
            font-weight: 800;
            &:nth-child(odd) {
                border-color: $gold-heading;
                .number {
                    color: $gold-heading;
                }
            }
            &:nth-child(even) {
                border-color: $orange;
                .number {
                      color: $orange;
                }
            }

            @media (max-width: $breakpoint-small-tablet ) {
       
                border-radius:20px;
            }
         
            
            &.active {
                color:$main-heading;              
                margin-right: -2%;
                z-index: 1;
                position: relative;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right-width: 0;
                    @media (max-width: $breakpoint-small-tablet ) {
                        border-right-width: 2px;
                        border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;
                        margin-right: 0;
                   }
                    .mobile-content {
                        display: none;
                        @media (max-width: $breakpoint-small-tablet ) {
                         display: block;
                        }
                    }
            
            }

            .mobile-content {
                display: none;
            }
            .title {
                transition: all ease .3s;
            }
        }
       
    
    }
    .tabs-content {
        border:2px solid;
        border-radius:2em;

        &.first-active {
            border-top-left-radius: 0;
        }
        &.last-active {
            border-bottom-left-radius: 0;
        }
        &.odd {
            border-color: $gold-heading;
        }
        &.even {
            border-color: $orange;
        }

        @media (max-width: $breakpoint-small-tablet ) {
            position: relative;
            width: 75%;
            z-index: 2;
            border:none;
            top:10%;
            margin:0 auto;
            left: 0;
            right:0;
        }
    }
}
.embla {
    overflow: hidden;
    .embla__container {
        display: flex;
        margin-left: calc(($slide-spacing * -1) + 1px);
        touch-action: pan-y pinch-zoom;
        .embla__slide {
            padding:2.5%;
            border:1px solid $orange;
            border-radius:2em;
            flex: 0 0 calc(100% / 4);
            min-width: 0;
            margin-left:$slide-spacing;
            position:relative;
            @media (max-width: $breakpoint-tablet ) {
                flex: 0 0 calc(100% / 3);
            }
            @media (max-width: $breakpoint-small-tablet ) {
                flex: 0 0 calc(100% / 2);
            }
            &:after {
                content:'';
                background-image: url("/arrow.png");
                background-color: #3A53BA;
                background-size: 150%;
                background-position: center;
                background-repeat:no-repeat;
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                width:6vw;
                height:10vw;
                right: -4vw;
                z-index: 2;
                @media (max-width: $breakpoint-small-tablet ) {
                    width:8vw;
                    height:15vw;
                    right: -5vw;
                    background-size: 150%;
                }
            }
            &:last-child{
                &:after {
                    display: none;
                }
            }
        }
    }
    .embla__nav {
        .embla__nav__button {
            background-color: rgba(0,0,0,.7);
            border-radius: 50%;
            width: 30px;
            height:30px;
            display: flex;
            justify-content: center;
            align-items:center;
            z-index: 2;
            cursor:pointer;
        }
    }
}

.why-choose-us-section {
    padding-top: 20%;;
    background-image: url('/bg-2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    .info-content-wrap {
        .choose-item {
            background-color: #fff;
            .title {
                color:#040dbf;
                font-weight: 800;
            }
            .text {
                color:#000;
            }
        }
    }
}
.horizontal-tabs {
    .tabs-navigation {
     >* {
        background-color: #fff;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 1px 1px 7px 1px rgba(0,0,0,.2);
            svg {
                width: auto;
                height: calc(25px + 3vw);
            }
        &.active {
            background-color: $gold-heading;
            svg {
                path {
                    fill:#0A12BF;
                }
            }
        }
        }
    }
    .tabs-content {
        border-radius: 20px;
        border-top-left-radius:0;
        background-color: $gold-heading;
        color:#000;
        
        .title {
            color:#0A12BF;
            font-weight: 800;
        }
   
    }
}

.enquire-section {
    padding-top: 12%;;
    background-image: url('/bg-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    .form-container {
        form {
            .form-field{
                flex:0 0 calc(50% - 10px);
                &.full {
                    flex:0 0 100%;
                }
                margin-bottom: 20px;
                input:not([type="submit"]),select,textarea {
                    color:$gold-heading
                }
                :focus,:focus-visible  {
                    outline-color: #F37406;
                    outline-style: outset;
                    outline-width: 2px;
                }
              
                .error-msg {
                   margin-top: 5px;
                    color:#f42929;
                }
                @media (max-width: $breakpoint-mobile ) {
                    flex:0 0 calc(100%);
                    margin-bottom: 10px;
                }
            }
            textarea {
                min-height: 200px;
            }
        }
    }
}

input:not([type="submit"]),select,textarea {
    border:1px solid $gold-heading;
    padding:10px;
    transition: all ease .3s;
    height: 50px;
    &.error {
        border-color:#f42929;
    }
}

::placeholder {
    color:$gold-heading
}
.modal-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    @media (max-width: $breakpoint-small-tablet ) {
        width: 100vw;
        transform: translateX(-40vw);
     }


    .modal-container{
        width: 90%;
        max-width: 600px;
        transition: all ease .3s;
        position: relative;
    }

    .form-wrap {
        background-color: $main-bg;
        border-radius: 20px;
        padding:5%;
        input:not([type="submit"]),select,textarea {
            color:$gold-heading
        }
        .form-title {
            color:$main-heading;
            font-weight: 800;
        }
        .form-field:not(:last-child) {
            margin-bottom: 20px;
        }
        .country-dropdown select {
            color:$gold-heading;
        }
        .error-msg {
            margin-top: 5px;
            color:#f42929;
         }
    }
    .close {
        cursor: pointer;
        position:absolute;
        right: 10px;
        top: 10px;
        svg {
            width: 40px;
            height: 40px;
            @media (max-width: $breakpoint-small-tablet ) {
                width: 30px;
             }
        }
    }
}
.user {
    width: 40px;
    justify-content: center;
    cursor: pointer;
    border-bottom:3px solid #01f2f2;
    padding:30px 0;
    @media (max-width: $breakpoint-small-tablet ) {
        padding:20px 0;
        display: none;
    }
}
.login-dropdown {
    position:absolute;
    width: 80%;
    padding: 15px;
    background: #333;
    max-width: 200px;
    right: 0;
    bottom: -75%;
    a {
        display: block;
        cursor: pointer;
        transition: all ease .3s;
        &:hover {
            color:#01f2f2;
        }
    }
    @media (max-width: $breakpoint-small-tablet ) {
        position: relative;
        width: 80%;
        padding: 8px 10px;
        background: #333;
        max-width: 100px;
        transition: all .3s;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 800;
        background-color: #f37406;
        border-radius: 3em;
        text-align: center;
    }
      
}
.mobiletoggle {
   button {
    cursor: pointer;
   }
    span {
        background-color: #fff;
       
    }
}
.mobile-menu-wrap {
    >.close { 
        display: none;
    }
    @media (max-width: $breakpoint-small-tablet ) {
        .close {
        display: block  ;
            cursor: pointer;
            position:absolute;
            right: 10px;
            top: 10px;
            svg {
                width: 40px;
                height: 40px;
                @media (max-width: $breakpoint-small-tablet ) {
                    width: 30px;
                 }
            }
        }
        padding: 20px;
        width: 60%;
        position: fixed;
        top: 0;
        bottom: 0;
        background: #112a4d;
        right: 0;
        transform: translateX(100%);
        transition: all ease .3s;
        &.active {
            transform: translateX(0);
            flex-direction: column;
            justify-content: center;
            gap: 30px;
        }

        .countdown {
        order:2;
        justify-content: center;
        }
    }
}

.Toastify__toast-container {
    font-size: 14px;
} 

.login-register {
    @media (max-width: $breakpoint-small-tablet ) {
        justify-content: center;
        width: 100%;
    }
}

.login-dropdown-mobile {
    display: none;
    @media (max-width: $breakpoint-small-tablet ) {
        display: block;
        position: relative;
        width: 80%;
        padding: 8px 10px;
        background: #333;
        max-width: 100px;
        transition: all .3s;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 800;
        background-color: #f37406;
        border-radius: 3em;
        text-align: center;
    }
}

.scrollToTopButton {
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.scrollToTopButton.visible {
    opacity: 1;
}
.countdown-date-wrap {
    text-align: center;
    .label {
        font-size: clamp(calc((8) * 1px),calc((8) * 1px) + (12 - 8) * ((100vw - $font-view-min * 1px) / $font-view-max),calc(($font-size-max) * 1px)); 
    }
    span {
        display: block;
    }
}